* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container { 
    width: 80%;
    margin: auto;
}

header {
    background-color: #0c325a;
    display: inline-block;
    height: 50vh;
    width: 100%;
    position: relative;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 110% 109%;
}

/* alligning the nav content */
#logo{ 
    float: left;
    line-height: 8vh;
}

#logo img {
    vertical-align: middle;
    padding-bottom: 8%;
}

nav {
    float: left;
    width: 50%;
    margin: auto;
    line-height: 8vh;
}

#login-section {
    float: right;
    line-height: 8vh;
    width: 30%;
}
/* /alligning the nav content */

/* login section style */
#login-section button {
    text-transform: uppercase;
    color: white;
}

.green-button {
    padding: 2%;
    margin-left: 10%;
    background-color: #7cbb02;
    color: white;
    font-size: 700;
    border-radius: 10px;
    text-transform: uppercase;

}

.blue-button {
    padding: 2% 8%;
    margin-left: 10%;
    background-color: #0c325a;
    border: 2px white solid;
    border-radius: 10px;
}

#login-section p {
    color: white;
    text-transform: uppercase;
}

/* /login section style */


#login-section p { 
    display: inline-block;
}

header nav ul {
    list-style: none;
    margin-left: 0px;
}

header nav li{
    display: inline-block;
}

header nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}

/* header insertion style */

.haeder-text h1{
    position: absolute;
    left: 10%;
    top: 33%;
    color: white;
    font-size: 70px;
}

.haeder-text button{
    padding: 1%;
    background-color: #7cbb02;
    color: white;
    position: absolute;
    left: 10%;
    bottom: 25%;
    border-radius: 10px;
    font-size: 23px;
    text-transform: uppercase;
}

/* /header insertion style */

/* grey section */

.grey-section {
    height: 10vh;
}

/* /grey section */